



  <div fxLayout="row" fxLayoutGap="auto" class="nav-class">
    <div fxLayout="row" fxLayoutGap="65px" style="padding-left: 120px;padding-top: 15px" >
      <div class="home"><h2>Home</h2></div>
      <div class="home"><h2>About</h2></div>
      <div class="home"><h2>Skills</h2></div>
      <div class="home"><h2>Services</h2></div>
    </div>

    <div style="color: blue;background: #f1cc14;padding-left: 60px;padding-right: 20px;font-size: 23px;width: 170px" class="home"><h2>ProMan</h2></div>

    <div fxLayout="row" fxLayoutGap="65px" style="padding-right: 120px;padding-top: 15px">
      <div class="home"><h2>Projects</h2></div>
      <div class="home"><h2>Team</h2></div>
      <div class="home"><h2>Testimonial</h2></div>
      <div class="home"><h2>Contact</h2></div>
    </div>

  </div>
  <br>

  <div style="padding-bottom: 500px">
    <img src="/assets/aa.jfif" width="1590px" height="900px" style="position: absolute;">
    <h1 style="color: white;position: relative" class="hi-class">Hi, I'm <br><span class="mohd-class">Mohd Ayan....</span></h1>
    <h1 style="color: white;position: relative" class="web-devel-class">Web Developer Trainee..</h1>
    <button mat-raised-button color="primary"style=" position:relative;">Primary</button>
  </div>

<!--<br><br><br><br>-->


<!--<div>-->
<!--  <div style="border: 2px solid black;margin-top: 300px;margin-left: 80px">-->
<!--    <h1 style="color: red;font-size: 100px;padding-left: 50px">3 <h6 style="color: #f1cc14;font-size: 20px;margin-top: -10px;margin-left: -30px">M o n t h s</h6></h1>-->

<!--  </div>-->
<!--</div>-->


  <div fxLayout="row"  style="background-color: #457373">
    <div fxLayout="column" fxLayoutGap="10px" >
      <div><h1 style="font-size: 130px;margin-top: 100px;margin-left: 80px">3</h1></div>
      <div><h6  style="font-size: 20px;margin-top: 20px;margin-left: 50px;letter-spacing: 18px">Months</h6></div>

<!--      <br><br>-->
      <div>
        <p style="font-size: 20px;margin-left: 20px">Stet no et lorem dolor et diam, amet <br>duo ut dolore vero eos. No stet est diam <br>amet diam  ipsum clita labore dolor duo clita.</p>
      </div>

      <div>
        <button mat-raised-button color="primary"  style="margin-left: 40px">Read More</button>
      </div>

    </div>

    <div fxLayout="column" fxLayoutGap="20px" style="font-size: 30px;width: 370px;height: 100px;margin-top: 90px;">
      <div>of working experience as a</div>
       <div> Web Developer Trainee.</div>
    </div>




    <div fxLayout="column" style="margin-top: 50px">

    <div fxLayoutGap="70px">
      <img src="/assets/aa.jfif" width="300px" height="300px" style="border-radius: 20px">
      <img src="/assets/aa.jfif" width="300px" height="300px" style="border-radius: 20px">
    </div>

      <div style="margin-top: 20px">
        <h1>Happy Clients | <span style="color: rebeccapurple;font-size: 40px">112</span></h1>
        <p style="font-size: 20px">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet <br> est diam amet diam ipsum clita labore dolor duo clita.</p>
      </div>

      <div style="margin-top: 30px">
        <h1>Projects Completed | <span style="color: rebeccapurple;font-size: 40px">12</span></h1>
        <p style="font-size: 20px">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet <br>est diam amet diam  ipsum clita labore dolor duo clita.</p>
      </div>

    </div>

  </div>




<br><br>
<div style="background-color: #baeaea;margin-top: 200px" fxLayout="row">
  <div style="margin-left: 100px">
    <div style="padding-top: 30px">
      <h1 style="font-size: 50px">Skills &<br><br> Experience</h1>
      <p style="font-size: 15px;margin-top: 40px">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam <br> rebum amet diam ipsum clita dolor duo clita sit.</p>
    </div>

    <div style="font-size: 30px;margin-top: 60px">
      My Skills
    </div>

    <div fxLayout="column">
    <div fxLayout="row" fxLayoutGap="140px" style="margin-top: 20px">
      <div>HTML</div>
      <div>70%</div>
    </div>
      <mat-progress-bar mode="determinate" value="70" style="width: 200px;height: 10px"></mat-progress-bar>

      <div fxLayout="row" fxLayoutGap="150px" style="margin-top: 20px">
        <div>CSS</div>
        <div>70%</div>
      </div>
      <mat-progress-bar mode="determinate" value="57" style="width: 200px;height: 10px"></mat-progress-bar>

      <div fxLayout="row" fxLayoutGap="145px" style="margin-top: 20px">
        <div>Java</div>
        <div>70%</div>
      </div>
      <mat-progress-bar mode="determinate" value="70" style="width: 200px;height: 10px"></mat-progress-bar>

      <div fxLayout="row" fxLayoutGap="165px" style="margin-top: 20px">
        <div>C</div>
        <div>70%</div>
      </div>
      <mat-progress-bar mode="determinate" value="57" style="width: 200px;height: 10px"></mat-progress-bar>

      <div fxLayout="row" fxLayoutGap="125px" style="margin-top: 20px">
        <div>Angular</div>
        <div>40%</div>
      </div>
      <mat-progress-bar mode="determinate" value="57" style="width: 200px;height: 10px"></mat-progress-bar>

    </div>

  </div>

  <div style="border: 2px solid blue;height: 50px;width: 360px;border-radius: 4px;margin-left: 350px;margin-top: 100px">
    <div fxLayout="row" fxLayoutGap="20px">
      <div>
        <button mat-raised-button color="primary" style="width: 170px;height: 50px" (click)="Showedu();hideexp()">Education</button>

      </div>
      <div>
        <button mat-raised-button color="white" style="width: 170px;height: 50px" (click)="hideedu();showexp()">Experience</button>

      </div>
    </div>

    <div id="edu" style="margin-top: 40px;border: 1px dotted silver">

      <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="auto">
        <div><h1 style="color: darkslategray">School</h1></div>
        <div><h1 style="color: darkslategray">College</h1></div>
      </div>

      <div fxLayout="row" fxLayoutGap="auto" >

      <div fxLayout="column">
        <div><h2>10th->80%</h2></div>
        <div><h2>12th->60%</h2></div>
      </div>

      <div fxLayout="column">
        <div><h2>CGPA->8.4</h2></div>
        <div><h2>CGPA%->80%</h2></div>
      </div>

      </div>

        <div fxLayout="row" fxLayoutGap="auto">
          <div><h1 style="color: darkslategray">Achievement</h1></div>
          <div><h1 style="color: darkslategray">Achievement</h1></div>
        </div>

      </div>


  </div>

    <div id="exp" style="margin-top: 40px;border: 1px dotted silver">
      <div fxLayout="row" fxLayoutGap="200px">
        <div><h1>A</h1></div>
        <div><h1>B</h1></div>
      </div>
    </div>

</div>
</div>

